.details-2{
background-color: #c585f9;
border-radius: 10px;
margin: 20px;
color: white;
font-family: "Bree-Serif";
font-size: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

padding: 10px;
}


.card-container-3{
    background-color: #ffd502;
    background-size: cover;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

    